h1 {
    font-family: 'Pacifico', cursive;
    font-size: 4rem;
}

#introduction p {
    font-family: 'Quicksand', sans-serif;
    font-size: 2rem;
}

#skills p {
    font-size: 1.25rem;
}

#hobbies .container {
    padding: 0 3%;
}

#hobbies img {
    width: 60%;
}

#hobbies h2 {
    font-family: 'Quicksand', sans-serif;
    font-weight: 600;
    font-size: 2rem;
    text-align: left;
}

#hobbies p {
    font-size: 1.2rem;
    text-align: left;
}